body{
    width: 1250px;
    height: 880px;
    margin: 10px;
    background-image: url('../img/bg-branco.jpeg');
    background-size: contain;
    background-repeat: no-repeat
}

.box-form{
  width: 40%;
  background-color: var(--main-color);
  margin: auto;
  padding: 40px;
  margin-top: 21%;
  margin-left: 6%;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px #0e0e0e;
  min-height: 500px;
}

.form-login{
    margin-top: 15%;
}
