{% extends 'bases/base.html' %}
{% load static %}
{% block 'head' %}
<link href="{% static 'usuarios/css/usuarios.css' %}" rel="stylesheet">
{% endblock %}
{% block 'importacoes' %}
{% endblock %}
{% block 'body' %}
<div class="container">
    <div class="row">
        <div class="box-form col-md-6">
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            <div class="form-login">
                <h2>Cadastrar Palestrante</h2>
                <hr style="border-color: #7E7B7C">
                <form action="{% url 'cadastrar_palestrante' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Nome do Usuário" class="form-control mb-2">
                    <input type="password" name="password" placeholder="Senha" class="form-control  mb-2">
                    <input type="password" name="password_confirmation" placeholder="Confirmação de Senha" class="form-control  mb-3">
                    <a href="{% url 'login_palestrante'%}">Voltar para login </a><br/>
                    <input type="submit" value=" Cadastrar " class="btn btn-success mt-3">
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}