{% extends "bases/base_evento.html" %}

{% load static %}

{% block 'conteudo' %}
<h1>Detalhes do Evento</h1>
<h2>{{ evento.nome_do_evento }}</h2>
<p>Data: {{ evento.data_do_evento|date:"d/m/Y" }}</p>
<p>Localização: {{ evento.local_do_evento }}</p>
<p>Descrição: {{ evento.descricao_do_evento }}</p>
<ul>
{% for palestra in palestras %}
    <li>{{ palestra.titulo_da_palestra }}
        - {{palestra.palestrante.nome_do_palestrante}} -
        <a href="{% url 'detalhe_palestra' palestra.id %}">Ver mais detalhes</a>
    </li>
{% endfor %}
</ul>
<div class="col-md-3">
    <a href="{% url 'participar_evento' evento.id %}" class="btn btn-danger">Inscrever </a>
</div>
{% endblock %}

