{% extends 'bases/base.html' %}
{% load static %}
{% block 'head' %}
{% block 'importacoes' %}
<link href="{% static 'geral/css/eventos.css' %}" rel="stylesheet">
<link href="https://fonts.bunny.net/css2?family=Raleway:wght@400;700&amp;display=block" rel="stylesheet">
{% endblock %}
{% endblock %}
{% block 'body' %}
<div class="Navbar">
    <div class="Navbar__Link Navbar__Link-brand">
        <a href="#"><img src="{% static 'geral/img/logo-t.png' %}" alt="Logo"></a>
    </div>
    <nav class="Navbar__Items">
        <div class="Navbar__Link">
            <a
                    class="nav-link"
                    href="{% url 'lista_eventos' %}"
            >
                Início

            </a>
        </div>
        <div class="Navbar__Link">
            <a
                    class="nav-link"
                    href="#"
            >
                Verificar Certificado

            </a>

        </div>
        <div class="Navbar__Link">
            <a
                    class="nav-link"
                    href="#"
            >
                Fale Conosco

            </a>
        </div>
    </nav>
    <nav class="Navbar__Items Navbar__Items--right">
        <div class="Navbar__Link">
            {% if request.user.username %}
            <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
            >
                {{request.user.username}}

            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'perfil_participante' %}">Ver Perfil</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
            {% else %}
            <a
                    class="nav-link"
                    href="{% url 'login' %}"
                    role="button"
            >
                Logar

            </a>
            {%endif%}
        </div>
        <div class="Navbar__Link button cad">
            <a
                    class="nav-link"
                    href="{% url 'cadastrar' %}"
                    role="button"

            >
                Cadastrar

            </a>
        </div>
    </nav>
</div>
<div style="min-height: 60vh">
    <div class="container">
        <div class="row mt-4">
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% block 'conteudo' %}

            {% endblock %}
        </div>
    </div>
</div>

<div class="fundo-pagina"></div>
{% endblock %}