<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Cadastrar</h2>
     {% if messages %}
      {% for message in messages %}
          <div class="alert {{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  <hr style="border-color: #7E7B7C">
    <form action="{% url 'cadastrar' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Nome do Usuário">
        <input type="password" name="password" placeholder="Senha">
        <input type="password" name="password_confirmation" placeholder="Confirmação de Senha">
        <a href="{% url 'login'%}">Voltar para login </a><br/>
        <input type="submit" value="Cadastrar">
    </form>

</body>
</html>